{
  "env": {
    "mocha": true
  },
  "overrides": [
    {
      "files": [
        "lib/jwt/client.spec.js",
        "lib/data-store/client.spec.js",
        "lib/file-store/client.spec.js"
      ],
      "rules": {
        "no-new": "off"
      }
    }
  ]
}
