{
  "env": {
    "mocha": true
  },
  "overrides": [
    {
      "files": [
        "lib/email/client.spec.js",
        "lib/sms/client.spec.js",
        "lib/submitter/client.spec.js",
        "lib/user/jwt/client.spec.js",
        "lib/user/datastore/client.spec.js",
        "lib/user/filestore/client.spec.js"
      ],
      "rules": {
        "no-new": "off"
      }
    }
  ]
}
